body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  header{
      font-size: 60px;
  }
  
  #container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 30%;
  }
  
  #container > div {
    border: 1px solid black;
    padding: 50%;
    background-position: center;
    background-size: cover;
  }
  
  #reset {
    margin: 2% 40%;
  }